.App {
  text-align: center;
}
/* navbar */
.logo-img{
  width: 50px;
}
.navbar-div{
  position: relative;
  z-index: 9;
  background: white !important;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.2 );
}
.search-input{
  background: rgb(225,228,231) !important;
}